In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
pd.set_option("display.max_columns",10000)
pd.set_option("display.max_rows",10000)

In [3]:
df = pd.read_csv("../data/all_data.csv")

In [5]:
df.head()

,Unnamed: 0,Name,Color,Rarity,# Seen,ALSA,# Picked,ATA,# GP,GP WR,# OH,OH WR,# GD,GD WR,# GIH,GIH WR,# GNS,GNS WR,IWD,user_group,format,extension_name
0,0,"Vorinclex, Monstrous Raider",G,M,1803,1.28,1360,1.24,7404,56.9%,1242,59.7%,1638,62.2%,2880,61.1%,4506,54.1%,7.0pp,All Users,PremierDraft,ONE
1,1,"Jin-Gitaxias, Progress Tyrant",U,M,2563,1.82,1106,1.82,4628,51.7%,677,49.0%,1233,56.2%,1910,53.7%,2683,50.1%,3.6pp,All Users,PremierDraft,ONE
2,2,"Urabrask, Heretic Praetor",R,M,2175,1.59,1519,1.55,8287,56.0%,1360,60.5%,1855,59.0%,3215,59.7%,5051,53.7%,6.0pp,All Users,PremierDraft,ONE
3,3,"Sheoldred, the Apocalypse",B,M,1692,1.19,1350,1.17,7011,56.7%,1181,66.2%,1746,64.5%,2927,65.2%,4040,50.5%,14.7pp,All Users,PremierDraft,ONE
4,4,Against All Odds,W,U,83451,5.55,12317,7.91,34051,53.7%,5148,52.0%,7385,53.6%,12533,52.9%,21509,54.2%,-1.2pp,All Users,PremierDraft,ONE

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17331 entries, 0 to 17330
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      17331 non-null  int64
 1   Name            17331 non-null  object
 2   Color           14970 non-null  object
 3   Rarity          17331 non-null  object
 4   # Seen          17331 non-null  int64
 5   ALSA            17331 non-null  float64
 6   # Picked        17331 non-null  int64
 7   ATA             17331 non-null  float64
 8   # GP            17331 non-null  int64
 9   GP WR           14080 non-null  object
 10  # OH            17331 non-null  int64
 11  OH WR           12947 non-null  object
 12  # GD            17331 non-null  int64
 13  GD WR           14321 non-null  object
 14  # GIH           17331 non-null  int64
 15  GIH WR          15264 non-null  object
 16  # GNS           17331 non-null  int64
 17  GNS WR          15565 non-null  object
 18  IWD             15227 non-null  object
 19  user_group      17331 non-null  object
 20  format          17331 non-null  object
 21  extension_name  17331 non-null  object
dtypes: float64(2), int64(8), object(12)
memory usage: 2.9+ MB

In [9]:
df["extension_name"].value_counts()

BRO       1650
NEO       1410
SNC       1216
HBG       1156
DMU       1044
ONE        795
CORE       779
RAVM       767
STX        676
KHM        570
DBL        534
VOW        534
MID        534
ZNR        530
AFR        522
IKO        518
THB        498
ELD        498
Y23BRO     359
AKR        303
Y23ONE     295
Y22SNC     291
Y23DMU     291
KLR        286
GRN        259
RNA        259
M21        259
WAR        249
DOM        249
Name: extension_name, dtype: int64